<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <header>
    <nav class="navbar is-primary " role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class=" is-size-3">Tech Blog</h1>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item"> Homepage</a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {{#if logged_in}}
              <a href="/dashboard" class="navbar-item"> Dashboard</a>
              <button id="logout" class="button navbar-item-hover-color">Logout</button>
              {{else}}
              <a href="/login" class="button navbar-item-hover-color">Log in</a>
              {{/if}}
            </div>
          </div>
        </div>

      </div>
    </nav>

  </header>
  <main>
    {{{ body }}}
  </main>
  <footer class="  is-flex-align-items-flex-end">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>