<div class="columns">
  <div class="column">
    <h2>Welcome, !</h2>
  </div>
</div>

<div class="columns mt-4">
  <div class="column is-half">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="field">
        <label class="label" for="project-name">Project Name:</label>
        <div class="control">
          <input class="input" type="text" id="project-name" name="project-name" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="project-funding">Needed Funding ($):</label>
        <div class="control">
          <input class="input" type="number" id="project-funding" name="project-funding" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="project-desc">Description:</label>
        <div class="control">
          <textarea class="textarea" id="project-desc" name="project-desc"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Create</button>
        </div>
      </div>
    </form>
  </div>

   <!-- if project is true then we execute -->
  <div class="column is-half project-list">
    <h3>Current Projects:</h3>

    <!-- todo: loop and render for each project -->
    
    <div class="columns mb-2">
      <div class="column is-four-fifths">
        <h4><a href="/project/">hello</a></h4>
      </div>
      <div class="column is-one-fifth">
        <button class="button is-small is-danger" data-id="hello">DELETE</button>
      </div>
    </div>
    <!-- endtodo -->
    
  </div>

</div>

<!-- todo: add profile javascript file -->
<script src="./dashboard.js"></script>
