
<section class="hero is-primary">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-narrow">
        <h2 class="title">Welcome, {{username}}!</h2>
      </div>
    </div>
  </div>
</section>

<div class="section">
  <div class="columns">
    <!-- New Blog Post form -->
    <div class="column is-half">
      <h3 class="title is-3">Create a New Blog Post:</h3>

      <form class="new-blog-post-form">
        <div class="field">
          <label class="label" for="blog-title">Title:</label>
          <div class="control">
            <input class="input" type="text" id="post-title" name="post-title" placeholder="Enter your blog title"
              required />
          </div>
        </div>
        <div class="field">
          <label class="label" for="post-content">Content:</label>
          <div class="control">
            <textarea class="textarea" id="post-content" name="post-content"
              placeholder="Write your blog content here..." required></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Publish</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Current Blog Posts list -->
    {{#if post.length}}
    <div class="column is-half your-post">
      <h3 class="title is-3">Your Published Posts:</h3>

      {{#each post as |post|}}
      <div class="card mb-4">
        <div class="card-content">
          <div class="columns">
            <div class="column is-two-thirds">
              <h4 class="title is-4"><a href="/post/{{post.id}}">{{post.title}}</a></h4>
            </div>
            <div class="column is-one-third has-text-right">
              <button class="button is-small is-danger" data-id="{{post.id}}" type="button">DELETE</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>

<script src="./js/dashboard.js"></script>