<!-- Loop over each object in the projects array -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- todo: Call helper function with triple brackets to render the emoji span as HTML -->
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <span class="dollar-amount">hello</span>
      needed!
    </p>
    <p>Created by  on </p>
  </div>
  <div class="col-md-7">
    <p>
      hello
    </p>
  </div>
</div>

