<div class="mt-5">

  <div class="column container column is-two-fifths  is-align-self-center is-half">
    <h2 class="title">Login</h2>

    <form class="login-form">
      <div class="field">
        <label for="username-login" class="label">Username:</label>
        <div class="control">
          <input class="input" type="text" id="username-login" placeholder="Enter your username">
        </div>
      </div>

      <div class="field">
        <label for="password-login" class="label">Password:</label>
        <div class="control">
          <input class="input" type="password" id="password-login" placeholder="Enter your password">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Login</button>
        </div>
      </div>
    </form>

    <div>
      <a href="/signup" class="button is-ghost">Don't have an Account yet!? </a>
    </div>


  </div>

</div>


<script src="./js/login.js"></script>